body {
  width: 100vw;
  height: 100vh;
}

#app {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.readme {
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;
  width: 300px;
}

.readme .warn {
  color: red;
  font-weight: bold;
}

.readme .delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #bbb;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

#videoInput {
  cursor: pointer;
  display: inline-block;
  width: 200px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}